/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Estilos del header y footer */
header, footer {
    background-color: #333;
    color: white;
    padding: 10px; /* Espaciado reducido */
}

/* Contenedor */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

h2{
    text-align: center;
}

/* Estilos de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Espaciado reducido */
}

ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none; /* Elimina puntos de la lista */
}

li {
    margin: 0 10px; /* Espaciado reducido */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos del contenido */
.content {
    padding: 50px 10px; /* Espaciado superior e inferior ampliado */
    
    margin-bottom: 200px; /* Espaciado entre el div y la sección */
}

/* Estilos para la sección de imágenes */
.image-section {
    display: flex; /* Usar Flexbox para alinear las imágenes en fila */
    justify-content: space-around; /* Espacio entre las imágenes */
    padding: 50px; /* Espaciado alrededor de la sección */
    text-align: center; /* Centrar el texto */
    margin-bottom: 200px; /* Mayor separación hacia abajo */
}

.image-container {
    flex: 1; /* Permitir que cada contenedor ocupe el mismo espacio */
    margin: 0 20px; /* Espaciado entre las imágenes */
    max-width: 300px; /* Limitar el ancho máximo del contenedor */
}


