/* Estilos generales */
body {
    font-family: Arial, sans-serif; /* Cambia la fuente */
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina relleno predeterminado */
    background-color: #f8f8f8; /* Color de fondo */
}

/* Estilos del header */
header {
    background-color: #333; /* Color de fondo del header */
    color: white; /* Color del texto en el header */
    padding: 20px; /* Espaciado interno */
}

footer{
    background-color: #333;
    color: white; /* Color del texto en el header */
    padding: 20px; /* Espaciado interno */
}

.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor */
}

/* Estilos de navegación */
nav {
    display: flex; /* Usa Flexbox para alinear los elementos en fila */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #333;
}

nav ul {
    display: flex; /* Usa flexbox para alinear horizontalmente */
    justify-content: flex-end; /* Alinear a la derecha */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
}

nav li {
    margin: 0 15px; /* Espaciado entre los elementos de la lista */
    list-style: none;
}

nav a {
    color: white; /* Color del texto del enlace */
    text-decoration: none; /* Elimina subrayado */
}

nav a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Estilos del contenido */
.content {
    padding: 20px; /* Espaciado interno para el contenido */
}

