<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="">
                            <img src="{{ site.baseurl }}/img/logo.png" alt="Logo">
                        </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/Novedades">Novedades</a></li>
                        <li><a href="{{ site.baseurl }}/vendidos">Mas vendidos</a></li>
                        <li><a href="{{ site.baseurl }}/ofertas">Ofertas Especiales</a></li>
                        <li><a href="{{ site.baseurl }}/Categorias">Categorias</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
